<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/DSA_Explained_Problems/src/packagee19_dynamic_programming/P4_0_1_knapsack.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="packagee19_dynamic_programming.P4_0_1_knapsack"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="DSA_Explained_Problems"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DSA_Explained_Problems"/>
</launchConfiguration>
